// Non-modular or client styles for .l-featured region.

.l-featured{
	background: url(../images/feature_bkgd_2.png) repeat;
	border-bottom: 30px solid #620000;
	border-top: 30px solid #620000;
	box-shadow: inset 0px 0px 0px 4px #4e0000;
	padding: 4rem 0;
	color: white;
	text-align: left;
	h2{
		color: white;
	}
	h1{
		letter-spacing: -.02em;
		line-height: 1.3em;
		font-size: 3.2rem;
		text-transform: uppercase;
		color: #ccc;
		span{
			color: #eee;
			display: block;
			font-size: 6rem;
			text-transform: uppercase;
			font-family: 'enigmaticbold', sans-serif;
		}
	}
	.button{
		background-color: transparent;
		border: 3px solid white;
		margin: 1rem 0;
		text-transform: uppercase;
		&:hover{
			background: white;
			color: #222;
		}
	}
	.block{
		@include grid-column(12);
		@media #{$medium-up}{
			@include grid-column(6);
		}
		img{
			border: 5px solid white;
			box-shadow: 5px 5px 0px 0px #222;
		}
	}

}