// Non-modular or client styles for .l-footer region.

.l-footer{
	background: #222;
	color: white;
	padding: 2rem 1rem 0;
	text-align: center;
	a{
		@extend %default-transition;
		color: $cyan;
		font-family: 'titilliumregular', sans-serif;
		&:hover{
			color: darken($cyan, 20%);
		}
	}
	h2{
		font-family: 'titilliumregular', sans-serif;
		font-size: rem-calc(34);
		color: white;
		margin-bottom: 1rem;
	}
	h3{
		font-family: 'titilliumregular', sans-serif;
		font-size: rem-calc(24);
		color: white;
		margin-bottom: 0.5rem;
	}
	h4{
		font-family: 'titilliumregular', sans-serif;
		font-size: rem-calc(18);
		color: white;
		margin-bottom: 0.5rem;
	}
	.block{
		@include grid-column(12);
		@media #{$medium-up}{
			@include grid-column(4);
		}
	}
	.copyright{
		font-size: .75rem;
	}
}
#saskatoontab{
	display: block;
}
#medhattab{
	display: none;
}
#lloydtab{
	display: none;
}
.tabs{
	margin-left: auto;
	text-align: center;
	.tab-title {
		float: none;
		display: inline-block;
		&:first-child a{
			border-radius: .5rem 0 0 .5rem;
		}
		&:last-child a{
			border-radius: 0 .5rem .5rem 0;
		}
		margin-right: -4px; 
		a {
			padding: .25rem .5rem;
			background: $black;
			color: white;
			border: 2px solid $cyan;
			&:hover {
				background: rgba($cyan, .1);
			}
		}
		&.active>a {
			border: 2px solid $cyan;
			background: $cyan;
			color: $black;
		}
	}
} 