// Non-modular or client styles for .l-header region.

.l-header{
	padding: 1.5rem 0 0;
		
	background-color: #222;
	position: relative;
	z-index: 2;
	font-size: .675rem;
	@media #{$medium-up}{
		padding: 1.5rem 0;
		background: none;
	}
	.logo{
		width: 100px;
		@media #{$medium-up}{
			width: auto;
		}
	}
	.tertiary{
		p{
			font-size: .675rem;
			margin-bottom: 0;
			margin-top: .5rem;
			.business-list {
				a{
					color: white;
				}
			}
		}
		img{
			margin-right: .25rem;
			vertical-align: baseline;
		}
	}
}

.l-header-animated{
	@extend %default-transition;
	background-color: #222;
	height: auto;
	overflow: hidden;
	padding: 1rem 0;
	position: fixed;
	top: -100px;
	width: 100%;
	z-index:50;
	&.animated-header-shrink{
		top: 0px;
	}
}

