// Non-modular or client styles for the .l-content region.

body{
	background: #ccc
}

.l-main{
	padding: 2em 0;
	@media #{$medium-up}{
		padding: 4em 0;
	}
	.not-front &{
		padding: 2em 0;
		@media #{$medium-up}{
			padding: 4em 0;
		}	
	}
	.front &{
		background: url(../images/front_bkgd_blue.jpg) center 0 no-repeat;
		background-size: cover;
		text-align: center;
		h3{
			color: white;
			text-transform: uppercase;
			font-size: rem-calc(54);
			line-height: 3rem;
			text-shadow: 0px 3px 3px rgba(0,0,0,.5);
		}
		h4{
			font-family: 'titilliumregular', sans-serif;
			font-size: rem-calc(34);
			color: white;
			text-shadow: 0px 3px 3px rgba(0,0,0,.5);
		}
	}
	h2 {
		font-size: 1.75rem;
		line-height: 2rem;
		border-bottom: 5px solid black;
		text-transform: uppercase;
		margin-bottom: 1rem;
	}
}