// Non-modular or client styles for the .l-nav region.

.l-nav{
	text-align: right;
	float: right;
	&:before {
	  content: '';
	  display: inline-block;
	  height: 100%;
	  vertical-align: middle;
	  margin-right: -0.25em; /* Adjusts for spacing */
	}
	.inline-list{
		margin-left: 0;
	}
	ul{
		margin-bottom: 0;
		li{
			@extend %default-transition;
			padding: .5rem 1rem;;
			margin-left: 0;
			
			
			a{
				color: $black;
				font-size: rem-calc(24);
				font-family: 'enigmaticbold', sans-serif;
			}
		}
	}
}

.top-info{
	height: 35px;
	padding: .5rem;
	width: 100%;
	text-align:center;
	background: #222;
	p{
		color: white;
	}

}