// Common abstract classes to extend or parametrics are stored here.

// Example parametrics.
// ------------------------------------------------------
// %font-FONTNAME   {}
// %font-sans-serif { font-family: sans-serif; }
// %font-serif      { font-family: serif; }


.row{
	max-width: 75rem;
}
@font-face {
    font-family: 'titilliumregular';
    src: url('../fonts/titillium-regular-webfont.eot');
    src: url('../fonts/titillium-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titillium-regular-webfont.woff2') format('woff2'),
         url('../fonts/titillium-regular-webfont.woff') format('woff'),
         url('../fonts/titillium-regular-webfont.ttf') format('truetype'),
         url('../fonts/titillium-regular-webfont.svg#titilliumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'titillium_bdbold';
    src: url('../fonts/titillium-bold-webfont.eot');
    src: url('../fonts/titillium-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titillium-bold-webfont.woff2') format('woff2'),
         url('../fonts/titillium-bold-webfont.woff') format('woff'),
         url('../fonts/titillium-bold-webfont.ttf') format('truetype'),
         url('../fonts/titillium-bold-webfont.svg#titillium_bdbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'titilliumlight';
    src: url('../fonts/titillium-light-webfont.eot');
    src: url('../fonts/titillium-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titillium-light-webfont.woff2') format('woff2'),
         url('../fonts/titillium-light-webfont.woff') format('woff'),
         url('../fonts/titillium-light-webfont.ttf') format('truetype'),
         url('../fonts/titillium-light-webfont.svg#titilliumlight') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'titilliumbold';
    src: url('../fonts/titillium-semibold-webfont.eot');
    src: url('../fonts/titillium-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titillium-semibold-webfont.woff2') format('woff2'),
         url('../fonts/titillium-semibold-webfont.woff') format('woff'),
         url('../fonts/titillium-semibold-webfont.ttf') format('truetype'),
         url('../fonts/titillium-semibold-webfont.svg#titilliumbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

.element-invisible{
    display: none;
}


a{
	@extend %default-transition;
	color: darken($cyan, 20%);
	font-family: 'titilliumregular', sans-serif;
	&:hover{
		color: darken($cyan, 40%);
	}
}

h1,h2,h3,h4,h5,h6{
	font-family: 'titillium_bdbold', sans-serif;
}

p{
	font-family: 'titilliumregular', sans-serif;
}

body{
    font-family: 'titilliumregular', sans-serif;
}

h1#page-title {
    background: #222;
    border-left: 10px solid #1DDBD9;
    line-height: 3rem;
    color: white;
    padding: 0.5rem 1rem .75rem;
    margin-bottom: 1rem;
}
.l-main h1 {
    background: #222;
    border-left: 10px solid #1DDBD9;
    line-height: 3rem;
    color: white;
    padding: 0.5rem 1rem .75rem;
    margin-bottom: 1rem;
}
.l-main{
    ul{
        list-style-type: none;
        margin-left: 0;
        li{
            background: url(../images/bullet.png) no-repeat 0px 8px;
            padding-left: 15px;
        }
    }    
}


b, strong{
    font-family: 'titilliumbold';
}
.group:after {
  content: "";
  display: table;
  clear: both;
}