.webform-client-form{
	text-align: left;
	input[type="file"], input[type="checkbox"], input[type="radio"], select{
		margin: 0 0 0.25rem 0;
	}
	.form-item{
		
		input{
			max-width: 100%;
			background: #222;
			color: white;
			border: 2px solid white;
			padding: .5rem;
			width: 100%;
			&:focus{
				border: 2px solid $cyan;
				background: #222;
				box-shadow: none;
			}
		}
		input[type=checkbox]{
			display: inline;
			width: auto;
		}
		input[type=radio]{
			display: inline;
			width: auto;
		}

		textarea{
			background: #222;
			color: white;
			border: 2px solid white;
			&:focus{
				border: 2px solid $cyan;
				background: #222;
				box-shadow: none;
			}
		}
		label{
			font-family: 'titilliumregular', sans-serif;
			color: white;
		}
		.grippie{
			display: none;
		}
		
	}
	.button{
		@extend %default-transition;
		background: $cyan;
		border: 2px solid $cyan;
		border-radius: 0;
		color: white;
		font-family: 'titilliumregular', sans-serif;
		padding: 0.5rem 1rem;
		font-size: 1rem;
		&:hover{
			color: white;
			background: #222;
			border: 2px solid white;
		}
	}	
}
