table{
	thead{
		background: #222;
		tr{
			td, th{
				color: white;
				font-weight: bold;
				padding: .25rem;
			}
			
		}
		
	}
	tr{
		td, th{
			padding: .25rem;
		}	
	}
	a{
		color: darken($cyan, 20%);
	}
}